body{

background:#f0f2f5;
font-family:Arial;
}

.card{

width:300px;

margin:50px auto;

padding:20px;

border-radius:10px;

background:white;

box-shadow:0px 0px 10px gray;

text-align:center;

}

h1{

color:#2196f3;

}

p{

color:#555;

}

button{

background:#2196f3;

color:white;

border:none;

padding:10px 20px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#1565c0;

}